/* --------------- Defaults --------------- */

* {
padding:0;
margin:0;
border:0;
}

body {
font-family:Arial, Helvetica, sans-serif;
font-size:80%;
color:#000;
background:#eee;
}

/* --------------- Div ID's --------------- */

#content {
width:1024px;

}

#footer {
background:#cddee9;
border-top:1px solid #000;
width:100%;
padding:10px;
clear:both;
}

#header {
width:748px;
height:75px;
padding:10px;
background:#1f4359;
}

#main {
background:transparent;
width:550px;
padding:10px;
float:right;
}

#sidebar {
background:transparent;
width:480px;
padding:10px;
float:left;
}

#wrapper {
width:1024px;
border:solid 1px #000;
margin:0 auto;
}

/* --------------- Classes --------------- */

hr.clear {
clear:both;
display:block;
visibility:hidden;
}