/* ------------------------------
HTML Redefine Tags
------------------------------ */
body {
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 12px;
	margin: 20px;
	padding: 0;
}

table {
	font-size: 12px;
}

input,form,textarea
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 13px;
}

h2 {
	font-size: 12px;
	color: #999999;
}

h3 {
	font-size: 14px;
	font-weight: bolder;
	padding: 4px 5px;
	margin-bottom: 10px;
	background-color: #F2F2F2;
	border-bottom: 1px solid #D9D9D9;
	border-top: 1px solid #E5E5E5;
}

.h3 {
	font-size: 14px;
	font-weight: bolder;
	padding: 4px 8px 4px 5px;
	margin-bottom: 10px;
	background-color: #F2F2F2;
	border-bottom: 1px solid #D9D9D9;
	border-top: 1px solid #E5E5E5;
	height: 18px;
}

.h3-right-top {
	height: 26px;
	text-align: right;
	padding-top: 4px;
	padding-right: 5px;
}

.stock-change-per-hour-big {
	text-align: center;
	font-size: 20px;
}

.stock-change-per-hour {
	text-align: right;
	font-size: 12px;
	font-weight: bolder;
}

.paginationLink {
	font-size: 12px;
}

.paginationDisabledLink {
	font-size: 12px;
	color: graytext;
}

a {
	color: #4183C4;
	text-decoration: none;
	font-weight: bolder;
}
/* .twtr-hd h3 { */
/* 	border-style: none; */
/* } */
/* .twtr-bd { */
/* 	font-family: 'Trebuchet MS', sans-serif; */
/* } */

/* .twtr-hd { */
/* 	font-family: 'Trebuchet MS', sans-serif; */
/* } */

/* .twtr-ft { */
/* 	font-family: 'Trebuchet MS', sans-serif; */
/* } */
.twtr-hd {
	display: none;
}

.twtr-ft {
	display: none;
}
/* ------------------------------
PAGE STRUCTURE
------------------------------ */

/* #container has an absolute width (1024 pixel) */
#container {
	width: 1020px;
	margin: 0 auto;
}

#topbar {
	width: auto;
	display: block;
	height: 60px;
}

#main {
	width: auto;
	display: block;
	/* 	padding: 10px 0; */
}

#top_right_div {
	width: 220px;
	float: left;
}

#top_center_div {
	width: 500px;
	height: 100%;
	margin-right: 20px;
	float: left;
}

#top_left_div {
	width: 260px;
	margin-right: 20px;
	float: left;
}

.top_center_ul {
	
}

.top_center_li {
	font-size: 16px;
	font-weight: bolder;
	padding: 4px 5px;
	margin-bottom: 5px;
	background-color: #F2F2F2;
	/* 	border-bottom: 1px solid #D9D9D9; */
	/* 	border-top: 1px solid #E5E5E5; */
	float: left;
	margin-right: 15px;
}

#column_left {
	width: 260px;
	margin-right: 20px;
	float: left;
}

#column_center {
	width: 500px;
	margin-right: 20px;
	float: left;
}

#column_right {
	width: 220px;
	float: left;
}

div.spacer {
	clear: both;
	height: 10px;
	display: block;
}

#footer {
	width: auto;
	display: block;
	padding: 10px 0;
	color: #666666;
}

/* ------------------------------
CUSTOM CLASSES
------------------------------ */
#loginbox {
	float: right;
	width: 150px;
}

#logoutbox {
	float: right;
	width: 150px;
}

#loginbox input {
	padding: 6px;
	width: 105px;
}

#signup input {
	padding: 6px;
	width: 300px;
}

#getQuoteTextboxId {
	padding: 6px;
	width: 412px;
	font-weight: bolder;
}

#getQuoteButton {
	width: 70px;
	height: 34px;
	font-weight: bolder;
}

#getUserTextboxId {
	padding: 6px;
	width: 412px;
	font-weight: bolder;
}

#getUserButtonId {
	width: 70px;
	height: 34px;
	font-weight: bolder;
}

.textbox {
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	padding: 6px 6px 4px;
	width: 200px;
}

.rounded-corner {
	border-color: #5f9900;
	border: 1px solid #D9D9D9;
	padding: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

#loginbox .submit {
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	font-weight: bold;
	left: 265px;
	margin-top: -27px;
	min-width: 64px;
	padding: 6px;
	position: absolute;
	text-align: center;
	white-space: nowrap;
}

.button {
	background: url("/images/login-button.gif") repeat-x scroll 0 0 #DDDDDD;
	border-color: #BBBBBB #BBBBBB #999999;
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 #F8F8F8;
	color: #333333 !important;
	cursor: pointer;
	display: inline-block;
	font: 12px/15px Helvetica Neue, Arial, "Lucida Grande", Sans-serif;
	margin: 0;
	overflow: hidden;
	padding: 5px 9px;
	text-shadow: 0 1px #F0F0F0;
}

.button:-moz-focus-inner {
	border: 0 none;
	padding: 0;
}

.button:focus {
	outline: medium none;
}

.button:hover,.button:focus {
	background-position: 0 -6px;
	border-color: #999999 #999999 #666666;
	color: #000000;
	text-decoration: none;
}

.button:active {
	background-image: none;
	outline: medium none;
	text-shadow: none;
}

.datatbl {
	border-width: 4px;
	border-spacing: 0px;
	border-collapse: collapse;
	width: 100%;
}

.datatbl2 {
	width: 100%;
}

.portfolio-stock-tbl {
	border-width: 4px;
	border-spacing: 4px;
	border-collapse: collapse;
	width: 100%;
}

.thead {
	border-bottom: 2px solid #6678B1;
	color: #003399;
	padding: 10px 8px;
	margin-bottom: 5px;
	border-spacing: 41px;
}

.thead td {
	padding-bottom: 4px;
	padding-left: 2px;
}

.datatbl tr {
	
}

.datatbl tr td {
	border: 0;
}

.datatbl tr.odd {
	background-color: #EEEEEE;
}

.error {
	color: red;
}

a:hover {
	text-decoration: underline;
}

.right_aligned tr td {
	text-align: right;
}

.red {
	font-weight: bold;
	color: #CC0000;
}

.green {
	font-weight: bold;
	color: #4D9900;
}

.green-light {
	color: #00AA00;
}

.red-light {
	color: #CC0000;
}

.gray {
	color: #444444;
}

.green-profit {
	text-align: right;
	width: 100%;
	color: #00AA00;
}

.gray-profit {
	font-size: 90%;
	text-align: right;
	width: 100%;
	color: #444444;
}

.red-profit {
	text-align: right;
	width: 100%;
	color: #CC0000;
}

.rank-number {
	font-size: 18px;
	font-weight: bolder;
	padding-left: 5px;
}

img.twuser {
	margin: 2px 2px 2px 2px;
	width: 48;
	height: 48;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

.field-green {
	background-color: #99cc33;
	text-align: center;
	margin: 1px;
	border-color: #000000;
	border: 1px solid;
}

.main-div {
	margin-bottom: 20px;
}

.searchDiv {
	margin-bottom: 5px;
}

.field-white {
	text-align: center;
	margin: 1px;
	border-color: #5f9900;
	border: 1px solid #D9D9D9;
	padding: 2px;
}

.gray-small {
	font-size: 12px;
	color: #999;
}

.field-white2 {
	border-color: #5f9900;
	border: 1px solid #D9D9D9;
	padding: 2px;
}

.field-red {
	background-color: #ff6666;
	text-align: center;
	margin: 1px;
	border-color: #993333;
	border: 1px solid;
}

.buy-sell-table {
	width: 100%;
	margin-top: 15px;
}

.buy-sell-table td {
	width: 50%;
}

.buy-sell-table td div:HOVER {
	cursor: pointer;
}

#topbar #home {
	font-size: 16px;
}

.tnt_pagination {
	width: 218px;
	margin-bottom: 10px;
	height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	position: relative;
}

.tnt_pagination a:link,#tnt_pagination a:visited {
	border: 1px solid #EBEBEB;
	text-decoration: none;
	background-color: #F5F5F5;
	color: #0072bc;
	font-weight: normal;
}

.tnt_pagination a:hover {
	background-color: #DDEEFF;
	border: 1px solid #BBDDFF;
	color: #0072BC;
}

.tnt_pagination .active_tnt_link {
	border: 1px solid #BBDDFF;
	text-decoration: none;
	background-color: #DDEEFF;
	color: #0072BC;
	cursor: default;
}

.tnt_pagination .disabled_tnt_pagination {
	border: 1px solid #EBEBEB;
	text-decoration: none;
	background-color: #F5F5F5;
	color: #D7D7D7;
	cursor: default;
}

.subheader {
	border-bottom: 1px solid #666666;
	clear: both;
	width: 100%;
}

.subheader a {
	color: #000000;
}

.subheader h1,.subheader h2 {
	float: left;
}

.tabs {
	float: right;
	font-weight: bold;
}

.tabs a.youarehere {
	background: none repeat scroll 0 0 #FFFFFF;
	border-color: #777777 #777777 #FFFFFF;
	border-style: solid;
	border-width: 1px;
	color: black;
	font-size: 120%;
	height: 30px;
	line-height: 28px;
	margin-top: 3px;
	padding: 0 11px;
}

.tabs a {
	background: inherit;
	border: 1px solid #FFFFFF;
	color: #777777;
	display: block;
	float: left;
	font-size: 90%;
	height: 24px;
	line-height: 22px;
	margin: 8px 8px 0 0;
	padding: 0 11px;
	text-decoration: none;
}

.tabs a:hover {
	background: none repeat scroll 0 0 #FFFFFF;
	border-color: #777777 #777777 #FFFFFF;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
}

.main-tabs {
	float: left;
}

.main-tabs a.youarehere {
	background: none repeat scroll 0 0;
	border-color: #777777 #777777 #FFFFFF;
	border-style: solid;
	border-width: 0px;
	color: black;
	font-size: 120%;
	/* 	height: 25px; */
	line-height: 18px;
	margin-top: 4px;
	margin-left: 5px;
	
}

.main-tabs a {
	background: inherit;
	border: 0px solid #FFFFFF;
	color: #777777;
	display: block;
	float: left;
	font-size: 90%;
	/* 	height: 20px; */
	line-height: 18px;
	margin: 5px 15px 0 5px;
	text-decoration: none;
}

.main-tabs a:hover {
	cursor: pointer;
}

.hr-pink-class {
	background-color: #FCD8EA;
	color: #FCD8EA;
	height: 2px;
	border: none;
}

.hr-blue-class {
	background-color: #C0DBF8;
	color: #C0DBF8;
	height: 2px;
	border: none;
}

.buy-button {
	width: 98%;
	margin-bottom: 2px;
	background-color: #99cc33;
}

.sell-button {
	width: 98%;
	margin-bottom: 2px;
	background-color: #ff6666;
}

.footer-bar {
	height: 32px;
	font-size: 14px;
	font-weight: bolder;
	padding-top: 15px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #F2F2F2;
	border-bottom: 1px solid #D9D9D9;
	border-top: 1px solid #E5E5E5;
	text-align: center;
}

.big {
	font-size: 16px;
	font-weight: bolder;
	line-height: 16px;
}

.title-bar {
	background-color: #F2F2F2;
    border-bottom: 1px solid #D9D9D9;
    border-top: 1px solid #E5E5E5;
    font-size: 12px;
    font-weight: bolder;
    height: 26px;
    margin-bottom: 10px;
    width: 100%;
	display: block;
}