/* ------------------------------
HTML Redefine Tags
------------------------------ */
body {
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 11px;
	margin: 20px;
	padding: 0;
}

table {
	font-size: 11px;
}

input,form,textarea
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 18px;
}

h2 {
	font-size: 14px;
	color: #999999;
}

h3 {
	font-size: 13px;
	padding: 4px 0;
	margin-bottom: 10px;
	background-color: #F2F2F2;
	border-bottom: 1px solid #D9D9D9;
	border-top: 1px solid #E5E5E5;
}

a:link,a:visited {
	color: #0033CC;
}

a:hover {
	text-decoration: none;
}

/* ------------------------------
PAGE STRUCTURE
------------------------------ */

/* #container has an absolute width (780 pixel) */
#container {
	width: 820px;
	margin: 0 auto;
}

#topbar {
	width: auto;
	display: block;
	height: 60px;
}

#navbar {
	width: auto;
	display: block;
	height: 28px;
}

#navbar a {
	heigth: 28px;
	line-height: 28px;
	padding: 0 8px;
	display: inline;
}

#main {
	width: auto;
	display: block;
	padding: 10px 0;
}

#column_left {
	width: 460px;
	margin-right: 20px;
	float: left;
}

#column_center {
	width: 160px;
	margin-right: 20px;
	float: left;
}

#column_right {
	width: 160px;
	float: left;
}

div.spacer {
	clear: both;
	height: 10px;
	display: block;
}

#footer {
	width: auto;
	display: block;
	padding: 10px 0;
	font-size: 11px;
	color: #666666;
}

/* ------------------------------
CUSTOM CLASSES
------------------------------ */
#loginbox {
	float: right;
	width: 280px;
}

#loginbox input {
	font-size: 13px;
	padding: 6px;
	width: 105px;
}

#signup input {
	font-size: 13px;
	padding: 6px;
	width: 300px;
}

#quote {
	font-size: 13px;
	padding: 6px;
	width: 376px;
	font-size: 13px;
	padding: 6px;
}

.textbox {
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	font: 13px Arial, sans-serif;
	padding: 6px 6px 4px;
	width: 200px;
}

#loginbox .submit {
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	font-weight: bold;
	left: 265px;
	margin-top: -27px;
	min-width: 64px;
	padding: 6px;
	position: absolute;
	text-align: center;
	white-space: nowrap;
}

.button {
	background: url("../images/login-button.gif") repeat-x scroll 0 0
		#DDDDDD;
	border-color: #BBBBBB #BBBBBB #999999;
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 #F8F8F8;
	color: #333333 !important;
	cursor: pointer;
	display: inline-block;
	font: 12px/15px Helvetica Neue, Arial, "Lucida Grande", Sans-serif;
	margin: 0;
	overflow: hidden;
	padding: 5px 9px;
	text-shadow: 0 1px #F0F0F0;
}

.button:-moz-focus-inner {
	border: 0 none;
	padding: 0;
}

.button:focus {
	outline: medium none;
}

.button:hover,.button:focus {
	background-position: 0 -6px;
	border-color: #999999 #999999 #666666;
	color: #000000;
	text-decoration: none;
}

.button:active {
	background-image: none;
	outline: medium none;
	text-shadow: none;
}

.datatbl {
	border: 0;
	border-collapse:collapse;
}

.datatbl tr td {
	border: 0;
}

.datatbl tr.odd {
	background-color: #EDF3FE;
}