/* ------------------------------
HTML Redefine Tags
------------------------------ */
body {
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 12px;
	margin: 20px;
	padding: 0;
}

table {
	font-size: 12px;
}

input,form,textarea
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 16px;
}

h2 {
	font-size: 12px;
	color: #999999;
}

h3 {
	font-size: 14px;
	font-weight: bolder;
	padding: 4px 5px;
	margin-bottom: 10px;
	background-color: #F2F2F2;
	border-bottom: 1px solid #D9D9D9;
	border-top: 1px solid #E5E5E5;
}

a {
    color: #4183C4;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
	text-decoration: none;
}

/* ------------------------------
PAGE STRUCTURE
------------------------------ */

/* #container has an absolute width (1024 pixel) */
#container {
	width: 1020px;
	margin: 0 auto;
}

#topbar {
	width: auto;
	display: block;
	height: 60px;
}

#main {
	width: auto;
	display: block;
	padding: 10px 0;
}

#column_left {
	width: 500px;
	margin-right: 20px;
	float: left;
}

#column_center {
	width: 240px;
	margin-right: 20px;
	float: left;
}

#column_right {
	width: 240px;
	float: left;
}

div.spacer {
	clear: both;
	height: 10px;
	display: block;
}

#footer {
	width: auto;
	display: block;
	padding: 10px 0;
	color: #666666;
}

/* ------------------------------
CUSTOM CLASSES
------------------------------ */
#loginbox {
	float: right;
	width: 150px;
}

#logoutbox {
	float: right;
	width: 150px;
}

#loginbox input {
	padding: 6px;
	width: 105px;
}

#signup input {
	padding: 6px;
	width: 300px;
}

#quote {
	padding: 6px;
	width: 416px;
	padding: 6px;
	font-weight: bolder;
}

.textbox {
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	padding: 6px 6px 4px;
	width: 200px;
}

#loginbox .submit {
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	font-weight: bold;
	left: 265px;
	margin-top: -27px;
	min-width: 64px;
	padding: 6px;
	position: absolute;
	text-align: center;
	white-space: nowrap;
}

.button {
	background: url("/images/login-button.gif") repeat-x scroll 0 0
		#DDDDDD;
	border-color: #BBBBBB #BBBBBB #999999;
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 #F8F8F8;
	color: #333333 !important;
	cursor: pointer;
	display: inline-block;
	font: 12px/15px Helvetica Neue, Arial, "Lucida Grande", Sans-serif;
	margin: 0;
	overflow: hidden;
	padding: 5px 9px;
	text-shadow: 0 1px #F0F0F0;
}

.button:-moz-focus-inner {
	border: 0 none;
	padding: 0;
}

.button:focus {
	outline: medium none;
}

.button:hover,.button:focus {
	background-position: 0 -6px;
	border-color: #999999 #999999 #666666;
	color: #000000;
	text-decoration: none;
}

.button:active {
	background-image: none;
	outline: medium none;
	text-shadow: none;
}


.datatbl {
	border-width: 4px;
	border-spacing: 1px;
	border-collapse:collapse;
	width: 100%;
}

.thead {
    border-bottom: 2px solid #6678B1;
    color: #003399;
    padding: 10px 8px;
    margin-bottom: 5px;
    border-spacing: 41px;
}

.thead td {
	padding-bottom: 4px;
	padding-left: 2px;
}

.datatbl tr {
}

.datatbl tr td {
	border: 0;
}

.datatbl tr.odd {
	background-color: #EEEEEE;
}

.error {
	color : red;
}


a:HOVER {
	text-decoration: underline;
}





.right_aligned tr td {
	text-align: right;
}

.red {
	font-weight: bold;
	color: #CC0000;
}

.green {
	font-weight: bold;
	color: #4D9900;
}

.rank-number {
	font-size: 18px;
	font-weight: bolder;
}

img.twuser {
	margin: 0px 5px 2px 4px;
	width: 48;
	height: 48;
}

.field-green {
	background-color: #99cc33;
	text-align: center;
	margin: 1px;
	border-color: #000000;
	border: 1px solid;
	
}

.field-white {
	text-align: center;
	margin: 1px;
	border-color: #5f9900;
	border: 1px solid #D9D9D9;
	
}

.field-red {
	background-color: #ff6666;
	text-align: center;
	margin: 1px;
	border-color: #993333;
	border: 1px solid;
}

.buy-sell-table {
	width: 100%;
	margin-top: 15px;
}

.buy-sell-table td { width: 50%;}

.buy-sell-table td div:HOVER {
	cursor: pointer;
}
