<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<description>
      twitstreet
    </description>

	<display-name>twitstreet</display-name>
	<filter>
		<filter-name>guiceFilter</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>guiceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
<!--
	<servlet>
		<servlet-name>userProfile</servlet-name>
		<servlet-class>com.twitstreet.servlet.UserProfileServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>userProfile</servlet-name>
		<url-pattern>/user/*</url-pattern>
	</servlet-mapping>
 	
	<servlet>
		<servlet-name>stockDetails</servlet-name>
		<servlet-class>com.twitstreet.servlet.StockDetailsServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>stockDetails</servlet-name>
		<url-pattern>/stock/*</url-pattern>
	</servlet-mapping>
-->
	<listener>
		<listener-class>com.twitstreet.main.TSServletConfig</listener-class>
	</listener>
	<jsp-config>
		<taglib xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
      http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd">
			<taglib-uri>/WEB-INF/tlds/template.tld</taglib-uri>
			<taglib-location>/WEB-INF/tlds/template.tld</taglib-location>
		</taglib>
	</jsp-config>
</web-app>
